In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import gc

# 경고 메시지가 뜨지 않게 설정
import warnings 
warnings.filterwarnings('ignore')

# 그래프 설정
sns.set()

# 그래프 기본 설정
plt.rcParams['font.family'] = 'Malgun Gothic'
# plt.rcParams['font.family'] = 'AppleGothic'
plt.rcParams['figure.figsize'] = 12, 6
plt.rcParams['font.size'] = 14
plt.rcParams['axes.unicode_minus'] = False

# 검정
from scipy import stats

In [3]:
df = pd.read_csv('신용정보_feat_select.csv')

In [4]:
df_fin_train = pd.read_csv('final_train.csv')

In [11]:
check_cols = ['카드이용한도금액', 'RV현금서비스이자율_할인전', '상향가능한도금액', '카드론동의여부', '일시불ONLY전환가능여부', '카드이용한도금액_B1M', 'rv최초시작후경과일']
df.drop(check_cols, axis = 1, inplace = True)

In [19]:
target = pd.read_parquet('2018_회원정보.parquet', columns = ['Segment'])
df = pd.concat([df, target], axis = 1)

In [22]:
train = df.loc[df['Segment'].notna()]

In [25]:
select_df = train.describe().T
select_df = select_df.loc[(select_df['max'] == 1) & (select_df['min'] == 0)]
category_list = list(select_df.index)

In [26]:
category_list

['한도증액횟수_R12M', 'RV전환가능여부']

In [27]:
train_num = train.drop(category_list, axis = 1)

In [28]:
train_num

,최초한도금액,CA한도금액,일시상환론한도금액,월상환론한도금액,CA이자율_할인전,CL이자율_할인전,RV일시불이자율_할인전,RV약정청구율,RV최소결제비율,자발한도감액금액_R12M,강제한도감액횟수_R12M,강제한도감액금액_R12M,강제한도감액후경과월,한도증액금액_R12M,상향가능CA한도금액,월상환론상향가능한도금액,카드이용한도금액_B2M,ID,Segment
0,0,7270,0,0,22.995207,18.254978,17.264967,0.0000,19.99996,0,0,0,12,0,0,0,19723,TRAIN_000000,D
1,0,5718,41996,90611,14.793821,14.834873,10.622446,99.9998,9.99998,0,0,0,12,0,1,0,9998,TRAIN_000001,E
2,0,35207,0,0,22.014276,17.875321,17.155829,99.9998,19.99996,0,1,1,8,0,0,0,77975,TRAIN_000002,C
3,0,6531,0,0,22.998014,22.999453,19.293674,0.0000,19.99996,0,0,0,12,0,0,0,19226,TRAIN_000003,D
4,0,47149,48000,155020,14.661948,10.897410,10.654587,0.0000,9.99998,0,0,0,12,0,0,0,168681,TRAIN_000004,E
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2399995,0,10167,0,54445,15.243670,11.900516,10.545876,0.0000,9.99998,0,0,0,12,0,1,0,21152,TRAIN_399995,E
2399996,0,31159,0,156800,14.843464,15.652063,11.102726,0.0000,9.99998,0,0,0,12,1,3,0,78140,TRAIN_399996,D
2399997,0,19429,0,0,17.038599,17.966213,13.278475,0.0000,19.99996,0,0,0,12,0,0,0,63374,TRAIN_399997,C
2399998,0,4228,90004,180906,15.182880,11.901089,10.594124,0.0000,9.99998,0,1,0,12,0,1,0,10001,TRAIN_399998,E
2399999,0,25133,0,0,14.841102,15.287120,11.406823,0.0000,9.99998,0,0,0,12,1,2,18,71252,TRAIN_399999,E

In [31]:
train['최초한도금액'].value_counts()

최초한도금액
0        2071284
9998       38748
9997       30282
9999       25926
9996       13056
          ...
41355          6
40310          6
33508          6
33386          6
43254          6
Name: count, Length: 8802, dtype: int64

In [32]:
sns.hist(data = train.loc[train['최초한도금액'] != 0], x = '최초한도금액'

8          10000
17         35113
20         35377
28         38152
36         34811
           ...
2399968     9998
2399983    38968
2399991    34522
2399992    35124
2399993     9996
Name: 최초한도금액, Length: 328716, dtype: int64